body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 280px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  text-align: center;
  border-radius: 10px;
}

.search {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.weather {
  margin-top: 20px;
}

.weather h1 {
  font-size: 36px;
}

.weather img {
  width: 80px;
}

